/* Conversation Container */
.convoContainer {
	background: #ffffff;
	width: 100%;
	height: 100%;
}

/* Conversation Header */
.convoHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
	background-color: white;
	filter: drop-shadow(0 0 5px #c1cbd9);
	height: 10vh;
}

.convoHeader div {
	display: flex;
	align-items: center;
}

/* Conversation Body */
.convoBody {
	height: 78vh;
	overflow-y: auto;
}

.messageHeader {
	display: flex;
	margin-bottom: 7px;
	color: #c2cfe4;
}

/* Sender Messages */
.sender {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 10px 60px;
	word-wrap: break-word;
}

#senderContent {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f4f6fa;
	color: #9cacc6;
	border-radius: 25px 25px 0px 25px;
	padding: 1rem;
}

/* Recipient Messages */
.recipient {
	display: flex;
	margin: 10px 40px;
}

#recipientContent {
	display: inline-block;
	background-image: linear-gradient(
		90deg,
		rgba(58, 141, 255, 0.85) 0%,
		rgba(134, 185, 255, 0.85) 50%
	);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px 25px 25px 25px;
	padding: 1rem;
	color: white;
}

/* Send Message Container */
.messageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
	margin: 0px auto;
	width: 80%;
}

.sendMessage {
	background: #e9eef9;
	border-radius: 10px;
	min-width: 300px;
}
