/* Conversation Container */
.convo {
	min-width: 70vw;
	width: 100%;
	/* min-width: 40vh;
	width: 100%; */
}

/* Conversation Header */
.convoHeader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 10px;
	background-color: white;
	filter: drop-shadow(0 0 5px #c1cbd9);

	/* width: 100%;
	height: 10vh; */
}

/* Conversation Body */
.convoBodyContainer {
	padding-left: 10px;
}

.convoContent {
	padding: 0px 20px;
	overflow-y: auto;
}

.messageHeader {
	display: flex;
	margin-bottom: 7px;
	color: #c2cfe4;
}

.sender {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 10px 0;
}

#senderContent {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f4f6fa;
	color: #9cacc6;
	border-radius: 50px 50px 0px 50px;
	padding: 13px;
}

#senderTime {
	color: #c2cfe4;
}

.recipient {
	display: table;
	display: flex;
	padding: 10px 0;
}

.recipientMessage {
	margin-left: 10px;
}

#recipientContent {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3d91ff;
	border-radius: 0px 50px 50px 50px;
	padding: 13px;
	color: white;
}

#recipientTime {
	margin-left: 5px;
}

/* Message Container */
.messageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	height: 10vh;
	width: 100%;
}

.sendMessage {
	background: #e9eef9;
	border-radius: 10px;
	padding-left: 15px !important;
	min-width: 300px;
}
