@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* General Styles */
#registerHeader,
#loginHeader {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 30px;
}

.boxShadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: grey;
}

.authButton {
	display: flex;
	justify-content: center;
	align-items: center;
}

#messengerIcon {
	width: 128px;
	margin-bottom: 5px;
}

.demoButton {
	padding: 15px 60px !important;
	background: #23395d !important;
	color: white;
	text-transform: none !important;
}

.registerLoginButton {
	padding: 15px 60px !important;
	color: #3a8dff !important;
	text-transform: none !important;
}

.messengerButton {
	padding: 15px 60px !important;
	background: #3a8dff !important;
	text-transform: none !important;
	margin-bottom: 30px !important;
}

/* Mobile View */
@media (max-width: 767px) {
	.pageContainer {
		display: flex;
		flex-direction: column-reverse;
	}

	.sideContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	#sideText {
		font-size: 25px;
		text-align: center;
		color: black;
		width: 80%;
		line-height: 1.5;
	}
}

/* Tablet/Desktop view */
@media (min-width: 769px) {
	.pageContainer {
		display: flex;
	}

	.sideContainer {
		background-image: linear-gradient(
				90deg,
				rgba(58, 141, 255, 0.85) 0%,
				rgba(134, 185, 255, 0.85) 50%
			),
			url("https://decipher-io.s3-us-west-1.amazonaws.com/bg-img.png");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 750px;
		opacity: 0.85;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
	}

	#sideText {
		font-size: 25px;
		text-align: center;
		color: white;
		width: 80%;
		line-height: 1.5;
	}

	.formContainer {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		margin: 5px 10px;
	}
}
