/* Sidebar */
.sidebar {
	background-color: #f5f7fb;
	min-width: 30vw;
	padding: 10px 20px;
}

#chatsText {
	font-size: 25px;
	margin-top: 35px;
}

/*  Sidebar Header */
.sidebarHeader {
	display: flex;
	justify-content: space-between;
}

.sidebarHeaderUser {
	display: flex;
	align-items: center;
}

.sidebarHeaderUserSettings {
	display: flex;
	align-items: center;
}

.sidebarHeaderUserSettings:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Sidebar User Search */
.searchUser {
	background: #e9eef8;
	border-radius: 10px;
}

/* Sidebar List */
.sidebarList {
	padding-right: 12px;
	height: 73vh;
	overflow-y: auto;
}

.activeConvo {
	display: flex;
	align-items: center;
	background: #ffffff;
	box-shadow: inset -1px 0 0 darken(lightgray, 10);
	border-radius: 10px;
	padding: 10px 0px 10px 5px;
	margin: 10px 5px 10px 0;
	filter: drop-shadow(0 0 0.03rem #c1cbd9);
}

.previewConvo {
	display: flex;
	align-items: center;
	background: #f9fafc;
	border-radius: 10px;
	padding: 10px 0px 10px 5px;
	margin: 10px 5px 10px 0;
	filter: drop-shadow(0 0 0.03rem #c1cbd9);
}

.previewConvo:hover {
	cursor: pointer;
	background: white;
	box-shadow: inset -1px 0 0 darken(lightgray, 10);
	border-radius: 10px;
}

#convoItemOwner {
	margin-left: 15px;
}

/* Sidebar Modal */
.modalHeader {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.modalExit:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Sidebar Change Avatar Modal */
.modalAvatarBodyNoInput {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalAvatar:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.previewAvatar {
	display: flex;
	align-items: center;
}
