/* Sidebar */
.sidebar {
	background-color: #f5f7fb;
	min-width: 30vw;
	padding: 0px 20px;
	height: 100%;
}

/*  Sidebar Header */
.sidebarHeaderContainer {
	display: flex;
	justify-content: space-between;
}

.sidebarHeaderUser {
	display: flex;
	align-items: center;
	height: 10vh;
}

.sidebarHeaderUserSettings {
	display: flex;
	align-items: center;
}

.sidebarHeaderUserSettings:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Chat Text */
#chatsText {
	display: flex;
	align-items: center;
	font-size: 25px;
	height: 3vh;
	margin: 1vh 0;
}

/* Sidebar User Search */
.searchUser {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e9eef8;
	border-radius: 10px;
	height: 5vh;
}

/* Sidebar List */
.sidebarList {
	height: 80vh;
	overflow-y: auto;
}

.activeConvo {
	display: flex;
	align-items: center;
	background: #ffffff;
	box-shadow: inset -1px 0 0 darken(lightgray, 10);
	border-radius: 10px;
	padding: 10px 0px 10px 5px;
	margin: 10px 13px 10px 0;
	filter: drop-shadow(0 0 0.03rem #c1cbd9);
}

.previewConvo {
	display: flex;
	align-items: center;
	background: #f9fafc;
	border-radius: 10px;
	padding: 10px 0px 10px 5px;
	margin: 10px 13px 10px 0;
	filter: drop-shadow(0 0 0.03rem #c1cbd9);
}

.previewConvo:hover {
	cursor: pointer;
	background: white;
	box-shadow: inset -1px 0 0 darken(lightgray, 10);
	border-radius: 10px;
}

#convoItemOwner {
	margin-left: 15px;
}

/* Modals */
.modalHeader {
	display: flex;
	justify-content: space-between;
}

.modalExit:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* Change Avatar Modal */
.avatarButton:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* File Upload */
.avatarPreviewAndUploadContainer {
	display: flex;
}

.previewAvatar {
	display: flex;
	align-items: center;
}
