/* Mobile View */
@media (max-width: 767px) {
	html,
	body {
		overflow: hidden;
		height: 100vh;
		font-family: "Open Sans";
		background-color: #fcfcfc !important;
	}
}

/* Tablet/Desktop view */
@media (min-width: 768px) {
	html,
	body {
		overflow: hidden;
		height: 100vh;
		font-family: "Open Sans";
		background-color: #fcfcfc !important;
	}
}

h2 {
	font-size: 17px;
}
